body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to top, #7b61ff 40%, #ffff 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-container {
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    background: #7b61ff;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-radius: 12px;
    width: 60px;
    margin: 0 auto 20px;
    text-align: center;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 15px;
    font-weight: 500;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.checkbox-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    font-size: 14px;
    justify-content: start;
    color: #333;
}

.submit-btn {
    width: 100%;
    background: linear-gradient(to right, #8a6cfb, #7b61ff);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #6f56f1;
}

.bottom-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.bottom-link a {
    color: #7b61ff;
    font-weight: 500;
    text-decoration: none;
}
